.grid-container {
  margin: 20px;
}

.bookmark-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}
